.logo {
  display: flex;
  padding-top: 60px;
  justify-content: center;
  background-color: #023160;
}

.blue {
  background-color: #023160;
}

.heightFull{
  height: 100%;
}


.mediaHeader {
  align-self: center;
}


.white {
  background-color: white;
}

.navCustomLink {
  color: #FFFFFF;
  display: block;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
}
.navActive{
  background-color: #FFFFFF;
  color: #023160;
  display: block;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
}
.navBg{
  background-color: #023160;
}

.roundedBanner img{
  border-radius: 1rem;
}

.localEvento {
  white-space: nowrap;
}

.buttonBack,.buttonBack:focus,.buttonBack:hover{
  background: inherit;
  border: none;
  outline: none;
}
