.logo {
  display: flex;
  padding-top: 60px;
  justify-content: center;
  background-color: #023160;
}

.blue {
  background-color: #023160;
}

.heightFull{
  height: 100%;
}


.mediaHeader {
  width: 40%;
  align-self: center;;
}

.white {
  background-color: white;
}
